<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StudentFileName" value="WPFstudents.bin"/>
    <add key="defImage" value="C:\Users\user.STEP.001\Downloads\Students\WpfStudentApp\bin\Debug\noimage.jpg"/>
    <add key="FolderImage32" value = "\FolderImage32\"/>
    <add key="FolderImage150" value = "\FolderImage150\"/>
  </appSettings>
</configuration>